workflows/governed/mem-06-krisp-webhook-adapter/workflow.json
{
  "id": "mem06krispwebhookadapter",
  "name": "MEM-06 - Krisp Webhook Adapter",
  "active": false,
  "meta": {
    "workflowVersion": "2026.03.12.1",
    "owner": "TAR",
    "status": "draft"
  },
  "versionId": "7478f8f2-0b7e-40a6-a667-5ec72fd76f1c",
  "pinData": {},
  "tags": [],
  "triggerCount": 0,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a4a9be4f-94f8-4f7d-9d9d-5f8e12c63a1b",
      "position": [220, 320],
      "credentials": {
        "httpHeaderAuth": {
          "id": "krisp-webhook-header-auth",
          "name": "Krisp Webhook Header Auth"
        }
      },
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/ingest/krisp",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      }
    },
    {
      "id": "Route Decision",
      "name": "Route Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [520, 320],
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ (() => { const body = $json.body ?? $json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const toArray = (value) => Array.isArray(value) ? value : (value == null ? [] : [value]); const transcriptText = pick(body.transcript_text, body.transcript?.text, body.transcript?.content, typeof body.transcript === 'string' ? body.transcript : null, body.meeting?.transcript_text, body.data?.transcript_text, body.data?.transcript?.text, body.content?.transcript_text, body.data?.content?.transcript_text, body.data?.content?.text, body.data?.content?.description, typeof body.data?.content === 'string' ? body.data.content : null, body.data?.raw_content?.text, body.data?.raw_content?.description, typeof body.data?.raw_content === 'string' ? body.data.raw_content : null, Array.isArray(body.data?.content) ? body.data.content.map((item) => typeof item === 'string' ? item.trim() : pick(item?.text, item?.title, item?.value, item?.description)).filter(Boolean).join('\\n') : null); const actionItems = toArray(body.action_items ?? body.actionItems ?? body.summary?.action_items ?? body.notes?.action_items ?? body.data?.action_items ?? (Array.isArray(body.data?.content) ? body.data.content : null) ?? body.data?.content?.action_items).map((item) => typeof item === 'string' ? item.trim() : pick(item?.text, item?.title, item?.value, item?.description)).filter(Boolean); return transcriptText || actionItems.length ? 1 : 0; })() }}"
      }
    },
    {
      "id": "Log Ignored",
      "name": "Log Ignored",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [860, 220],
      "parameters": {
        "command": "={{ (() => { const body = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const eventType = pick(body.event_type, body.eventType, body.event, body.type, body.trigger?.type) || 'unknown'; const title = pick(body.title, body.meeting?.title, body.meeting_name, body.meeting?.name, body.data?.meeting?.title, body.data?.meeting?.name); const occurredAt = pick(body.occurred_at, body.occurredAt, body.started_at, body.meeting?.started_at, body.meeting?.start_time, body.timestamp, body.data?.meeting?.start_date, body.data?.meeting?.started_at, body.data?.meeting?.start_time); const stableId = pick(body.source_ref, body.meeting_id, body.meeting?.id, body.transcript_id, body.transcript?.id, body.conversation_id, body.conversation?.id, body.data?.meeting_id, body.data?.conversation_id, body.data?.meeting?.id, body.data?.transcript_id, body.data?.transcript?.id); const slug = (title || 'call').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'call'; const stamp = new Date(occurredAt || Date.now()); const iso = Number.isNaN(stamp.getTime()) ? new Date().toISOString().slice(0, 16).replace(/[:T]/g, '-') : stamp.toISOString().slice(0, 16).replace(/[:T]/g, '-'); const baseSourceRef = stableId ? `krisp:${stableId}` : `krisp:${iso}-${slug}`; const sourceRef = eventType === 'key_points_generated' ? `${baseSourceRef}#key_points` : (eventType === 'action_items_generated' ? `${baseSourceRef}#action_items` : baseSourceRef); const titleStamp = new Date(occurredAt || Date.now()); const normalizedTitle = title || `Call - ${(Number.isNaN(titleStamp.getTime()) ? new Date() : titleStamp).toISOString()}`; const audit = { received_at: new Date().toISOString(), source: 'krisp', event_type: eventType, source_ref: sourceRef, title: normalizedTitle, decision: 'ignored', ignored_reason: 'missing_transcript_text', failure_reason: null }; const path = '/home/node/.n8n/krisp-ingest.ndjson'; const line = JSON.stringify(audit).replace(/'/g, `'\"'\"'`); return `mkdir -p \"$(dirname \\\"${path}\\\")\" && printf '%s\\\\n' '${line}' >> \"${path}\"`; })() }}"
      }
    },
    {
      "id": "Respond Ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 220],
      "parameters": {
        "respondWith": "json",
        "responseCode": 202,
        "responseBody": "={{ (() => { const body = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const eventType = pick(body.event_type, body.eventType, body.event, body.type, body.trigger?.type) || 'unknown'; const title = pick(body.title, body.meeting?.title, body.meeting_name, body.meeting?.name, body.data?.meeting?.title, body.data?.meeting?.name); const occurredAt = pick(body.occurred_at, body.occurredAt, body.started_at, body.meeting?.started_at, body.meeting?.start_time, body.timestamp, body.data?.meeting?.start_date, body.data?.meeting?.started_at, body.data?.meeting?.start_time); const stableId = pick(body.source_ref, body.meeting_id, body.meeting?.id, body.transcript_id, body.transcript?.id, body.conversation_id, body.conversation?.id, body.data?.meeting_id, body.data?.conversation_id, body.data?.meeting?.id, body.data?.transcript_id, body.data?.transcript?.id); const slug = (title || 'call').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'call'; const stamp = new Date(occurredAt || Date.now()); const iso = Number.isNaN(stamp.getTime()) ? new Date().toISOString().slice(0, 16).replace(/[:T]/g, '-') : stamp.toISOString().slice(0, 16).replace(/[:T]/g, '-'); const baseSourceRef = stableId ? `krisp:${stableId}` : `krisp:${iso}-${slug}`; const sourceRef = eventType === 'key_points_generated' ? `${baseSourceRef}#key_points` : (eventType === 'action_items_generated' ? `${baseSourceRef}#action_items` : baseSourceRef); const titleStamp = new Date(occurredAt || Date.now()); return { status: 'ignored', ignored_reason: 'missing_transcript_text', event_type: eventType, source_ref: sourceRef, title: title || `Call - ${(Number.isNaN(titleStamp.getTime()) ? new Date() : titleStamp).toISOString()}` }; })() }}"
      }
    },
    {
      "id": "Call memory-api",
      "name": "Call memory-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 520],
      "credentials": {
        "httpHeaderAuth": "Memory API Header Auth"
      },
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://memory-api:8100/ingest/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const body = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const toArray = (value) => Array.isArray(value) ? value : (value == null ? [] : [value]); const normalizeName = (value) => { if (typeof value === 'string') return value.trim(); if (value && typeof value === 'object') return pick(value.name, value.full_name, value.display_name, value.email) || ''; return ''; }; const eventType = pick(body.event_type, body.eventType, body.event, body.type, body.trigger?.type) || 'unknown'; const participants = toArray(body.participants ?? body.meeting?.participants ?? body.attendees ?? body.meeting_attendees ?? body.data?.meeting?.participants ?? body.data?.meeting?.speakers).map(normalizeName).filter(Boolean); const actionItems = toArray(body.action_items ?? body.actionItems ?? body.summary?.action_items ?? body.notes?.action_items ?? body.data?.action_items ?? (Array.isArray(body.data?.content) ? body.data.content : null) ?? body.data?.content?.action_items).map((item) => typeof item === 'string' ? item.trim() : pick(item?.text, item?.title, item?.value, item?.description)).filter(Boolean); const transcriptText = pick(body.transcript_text, body.transcript?.text, body.transcript?.content, typeof body.transcript === 'string' ? body.transcript : null, body.meeting?.transcript_text, body.data?.transcript_text, body.data?.transcript?.text, body.content?.transcript_text, body.data?.content?.transcript_text, body.data?.content?.text, body.data?.content?.description, typeof body.data?.content === 'string' ? body.data.content : null, body.data?.raw_content?.text, body.data?.raw_content?.description, typeof body.data?.raw_content === 'string' ? body.data.raw_content : null, Array.isArray(body.data?.content) ? body.data.content.map((item) => typeof item === 'string' ? item.trim() : pick(item?.text, item?.title, item?.value, item?.description)).filter(Boolean).join('\\n') : null); const title = pick(body.title, body.meeting?.title, body.meeting_name, body.meeting?.name, body.data?.meeting?.title, body.data?.meeting?.name); const occurredAt = pick(body.occurred_at, body.occurredAt, body.started_at, body.meeting?.started_at, body.meeting?.start_time, body.timestamp, body.data?.meeting?.start_date, body.data?.meeting?.started_at, body.data?.meeting?.start_time); const stableId = pick(body.source_ref, body.meeting_id, body.meeting?.id, body.transcript_id, body.transcript?.id, body.conversation_id, body.conversation?.id, body.data?.meeting_id, body.data?.conversation_id, body.data?.meeting?.id, body.data?.transcript_id, body.data?.transcript?.id); const slug = (title || 'call').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'call'; const stamp = new Date(occurredAt || Date.now()); const iso = Number.isNaN(stamp.getTime()) ? new Date().toISOString().slice(0, 16).replace(/[:T]/g, '-') : stamp.toISOString().slice(0, 16).replace(/[:T]/g, '-'); const normalizedTitleStamp = new Date(occurredAt || Date.now()); const baseSourceRef = stableId ? `krisp:${stableId}` : `krisp:${iso}-${slug}`; const sourceRef = eventType === 'key_points_generated' ? `${baseSourceRef}#key_points` : (eventType === 'action_items_generated' ? `${baseSourceRef}#action_items` : baseSourceRef); const summaryText = eventType === 'key_points_generated' ? (pick(body.summary, body.summary_text, body.notes?.summary, body.meeting_summary, body.data?.summary, body.data?.summary_text, typeof body.data?.raw_content === 'string' ? body.data.raw_content : null, transcriptText) || null) : null; return { source_ref: sourceRef, title: title || `Call - ${(Number.isNaN(normalizedTitleStamp.getTime()) ? new Date() : normalizedTitleStamp).toISOString()}`, transcript_text: transcriptText || (actionItems.length ? actionItems.join('\\n') : ''), summary: summaryText, occurred_at: occurredAt || null, participants, action_items: eventType === 'action_items_generated' ? actionItems : [], tags: ['krisp', 'transcript', 'call'], metadata: { source: 'krisp', source_event_type: eventType, base_source_ref: baseSourceRef, webhook_event_id: pick(body.id, body.event_id) || null, meeting_id: pick(body.meeting_id, body.meeting?.id, body.data?.meeting_id, body.data?.meeting?.id) || null, transcript_id: pick(body.transcript_id, body.transcript?.id, body.data?.transcript_id, body.data?.transcript?.id) || null, conversation_id: pick(body.conversation_id, body.conversation?.id, body.data?.conversation_id) || null, workspace_id: pick(body.workspace_id, body.workspace?.id, body.account_id) || null, meeting_url: pick(body.meeting?.url, body.data?.meeting?.url) || null, raw_timestamp: pick(body.timestamp, body.created_at, body.updated_at, body.data?.meeting?.start_date) || null, raw_title: title || null } }; })() }}"
      }
    },
    {
      "id": "Log Ingest Outcome",
      "name": "Log Ingest Outcome",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1160, 520],
      "parameters": {
        "command": "={{ (() => { const body = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const eventType = pick(body.event_type, body.eventType, body.event, body.type, body.trigger?.type) || 'unknown'; const title = pick(body.title, body.meeting?.title, body.meeting_name, body.meeting?.name, body.data?.meeting?.title, body.data?.meeting?.name); const occurredAt = pick(body.occurred_at, body.occurredAt, body.started_at, body.meeting?.started_at, body.meeting?.start_time, body.timestamp, body.data?.meeting?.start_date, body.data?.meeting?.started_at, body.data?.meeting?.start_time); const stableId = pick(body.source_ref, body.meeting_id, body.meeting?.id, body.transcript_id, body.transcript?.id, body.conversation_id, body.conversation?.id, body.data?.meeting_id, body.data?.conversation_id, body.data?.meeting?.id, body.data?.transcript_id, body.data?.transcript?.id); const slug = (title || 'call').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'call'; const stamp = new Date(occurredAt || Date.now()); const iso = Number.isNaN(stamp.getTime()) ? new Date().toISOString().slice(0, 16).replace(/[:T]/g, '-') : stamp.toISOString().slice(0, 16).replace(/[:T]/g, '-'); const baseSourceRef = stableId ? `krisp:${stableId}` : `krisp:${iso}-${slug}`; const sourceRef = eventType === 'key_points_generated' ? `${baseSourceRef}#key_points` : (eventType === 'action_items_generated' ? `${baseSourceRef}#action_items` : baseSourceRef); const titleStamp = new Date(occurredAt || Date.now()); const normalizedTitle = title || `Call - ${(Number.isNaN(titleStamp.getTime()) ? new Date() : titleStamp).toISOString()}`; const failureReason = $json.error?.message || $json.error?.description || null; const audit = { received_at: new Date().toISOString(), source: 'krisp', event_type: eventType, source_ref: sourceRef, title: normalizedTitle, decision: failureReason ? 'failed' : 'ingested', ignored_reason: null, failure_reason: failureReason }; const path = '/home/node/.n8n/krisp-ingest.ndjson'; const line = JSON.stringify(audit).replace(/'/g, `'\"'\"'`); return `mkdir -p \"$(dirname \\\"${path}\\\")\" && printf '%s\\\\n' '${line}' >> \"${path}\"`; })() }}"
      }
    },
    {
      "id": "Respond Ingest",
      "name": "Respond Ingest",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 520],
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $node[\"Call memory-api\"].json.error ? 502 : 200 }}",
        "responseBody": "={{ (() => { if (!$node[\"Call memory-api\"].json.error) return $node[\"Call memory-api\"].json; const body = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json; const pick = (...values) => values.find((value) => typeof value === 'string' && value.trim()); const eventType = pick(body.event_type, body.eventType, body.event, body.type, body.trigger?.type) || 'unknown'; const title = pick(body.title, body.meeting?.title, body.meeting_name, body.meeting?.name, body.data?.meeting?.title, body.data?.meeting?.name); const occurredAt = pick(body.occurred_at, body.occurredAt, body.started_at, body.meeting?.started_at, body.meeting?.start_time, body.timestamp, body.data?.meeting?.start_date, body.data?.meeting?.started_at, body.data?.meeting?.start_time); const stableId = pick(body.source_ref, body.meeting_id, body.meeting?.id, body.transcript_id, body.transcript?.id, body.conversation_id, body.conversation?.id, body.data?.meeting_id, body.data?.conversation_id, body.data?.meeting?.id, body.data?.transcript_id, body.data?.transcript?.id); const slug = (title || 'call').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '') || 'call'; const stamp = new Date(occurredAt || Date.now()); const iso = Number.isNaN(stamp.getTime()) ? new Date().toISOString().slice(0, 16).replace(/[:T]/g, '-') : stamp.toISOString().slice(0, 16).replace(/[:T]/g, '-'); const baseSourceRef = stableId ? `krisp:${stableId}` : `krisp:${iso}-${slug}`; const sourceRef = eventType === 'key_points_generated' ? `${baseSourceRef}#key_points` : (eventType === 'action_items_generated' ? `${baseSourceRef}#action_items` : baseSourceRef); return { status: 'error', error: $node[\"Call memory-api\"].json.error?.message || $node[\"Call memory-api\"].json.error?.description || 'memory_api_error', source_ref: sourceRef, event_type: eventType }; })() }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Route Decision", "type": "main", "index": 0 }]]
    },
    "Route Decision": {
      "main": [
        [{ "node": "Log Ignored", "type": "main", "index": 0 }],
        [{ "node": "Call memory-api", "type": "main", "index": 0 }]
      ]
    },
    "Log Ignored": {
      "main": [[{ "node": "Respond Ignored", "type": "main", "index": 0 }]]
    },
    "Call memory-api": {
      "main": [[{ "node": "Log Ingest Outcome", "type": "main", "index": 0 }]]
    },
    "Log Ingest Outcome": {
      "main": [[{ "node": "Respond Ingest", "type": "main", "index": 0 }]]
    }
  }
}
