workflows/governed/mem-03-memory-context-command/workflow.json
{
  "id": "mem03contextcmd",
  "name": "MEM-03 - Memory Context Command",
  "active": false,
  "meta": {
    "workflowVersion": "2026.03.11",
    "owner": "TAR",
    "status": "draft"
  },
  "versionId": "2d797ada-09a8-41da-ac43-fc3687ea2f8e",
  "pinData": {},
  "tags": [],
  "triggerCount": 0,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "f8e7d106-9f6f-4ea1-b527-f5296136504a",
      "position": [220, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/context",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "Route Action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [520, 300],
      "parameters": {
        "value1": "={{ ($json.body?.action ?? $json.action ?? '').toLowerCase() }}",
        "rules": [
          { "operation": "equal", "value2": "get" },
          { "operation": "equal", "value2": "set" },
          { "operation": "equal", "value2": "delete" }
        ]
      }
    },
    {
      "id": "Get Context",
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 160],
      "parameters": {
        "method": "GET",
        "url": "http://memory-api:8100/context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MEMORY_API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "Set Context",
      "name": "Set Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300],
      "parameters": {
        "method": "PUT",
        "url": "=http://memory-api:8100/context/{{$json.body?.domain ?? $json.domain}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { key: $json.body?.key ?? $json.key, value: $json.body?.value ?? $json.value } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MEMORY_API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "Delete Context",
      "name": "Delete Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 440],
      "parameters": {
        "method": "DELETE",
        "url": "=http://memory-api:8100/context/{{$json.body?.domain ?? $json.domain}}/{{$json.body?.key ?? $json.key}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MEMORY_API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]]
    },
    "Route Action": {
      "main": [
        [{ "node": "Get Context", "type": "main", "index": 0 }],
        [{ "node": "Set Context", "type": "main", "index": 0 }],
        [{ "node": "Delete Context", "type": "main", "index": 0 }]
      ]
    },
    "Get Context": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Set Context": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Delete Context": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
