workflows/governed/mem-02-memory-recall-command/workflow.json
{
  "id": "mem02recallcmd",
  "name": "MEM-02 - Memory Recall Command",
  "active": false,
  "meta": {
    "workflowVersion": "2026.03.11",
    "owner": "TAR",
    "status": "draft"
  },
  "versionId": "2fd7ff1e-5594-4d2f-9d46-50c94f872da4",
  "pinData": {},
  "tags": [],
  "triggerCount": 0,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "0ea9e8f0-e5bf-4c70-86ec-90db28cbebf0",
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/recall",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "Call memory-api",
      "name": "Call memory-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "http://memory-api:8100/recall",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: $json.body?.query ?? $json.query, entity_name: $json.body?.entity_name ?? $json.entity_name ?? null, entry_type: $json.body?.entry_type ?? $json.entry_type ?? null, after: $json.body?.after ?? $json.after ?? null, before: $json.body?.before ?? $json.before ?? null, limit: $json.body?.limit ?? $json.limit ?? 5, synthesize: $json.body?.synthesize ?? $json.synthesize ?? true } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MEMORY_API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Call memory-api", "type": "main", "index": 0 }]]
    },
    "Call memory-api": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
