workflows/governed/mem-01-memory-log-command/workflow.json
{
  "id": "mem01logcmd",
  "name": "MEM-01 - Memory Log Command",
  "active": false,
  "meta": {
    "workflowVersion": "2026.03.11",
    "owner": "TAR",
    "status": "draft"
  },
  "versionId": "eaf2d4ea-373a-418f-96ac-88aa6a7cb8b3",
  "pinData": {},
  "tags": [],
  "triggerCount": 0,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "3d4ef9c0-40c3-4e46-9ec5-b323d8756b8d",
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/log",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "Call memory-api",
      "name": "Call memory-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "http://memory-api:8100/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.body?.text ?? $json.text, source: $json.body?.source ?? $json.source ?? 'tars', occurred_at: $json.body?.occurred_at ?? $json.occurred_at ?? null, source_ref: $json.body?.source_ref ?? $json.source_ref ?? null, tags: $json.body?.tags ?? $json.tags ?? [], structured: $json.body?.structured ?? $json.structured ?? {} } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MEMORY_API_TOKEN}}"
            }
          ]
        }
      }
    },
    {
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Call memory-api", "type": "main", "index": 0 }]]
    },
    "Call memory-api": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
